*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
    
.hero{
    height:150vh;
    width:100%;
    background-image: url(./images/img44.jpg);
    background-size:cover;
    background-position: center;
}       
.logo{
    color:black;
    font-size:35px;
    letter-spacing: 1px;
    cursor:pointer;
}
span{
color:#035397
}

.nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}


.nav ul li{
    display: inline-block;
    padding: 10px 30px;
}

.nav ul li a{
    color: black;
     text-decoration: none ;
}

.nav ul li a:hover{
    color:#035397;
}

.btn{
    background-color:#035397;
    color:white;
    text-decoration:none;
    border:2px solid transparent;
    padding: 10px 25px;
    border-radius:30px;
    transition:transform .4s;
}

.btn:hover{
    transform: scale(1.1);
}

.content{
    position: absolute;
    top: 50%;
    left: 8%;
}
h1{
    color: black;
    margin: 20px 0 20px;
    font-size: 70px;
}
h3{
    color: black;
    font-size: 25px;
    margin-bottom: 50px;
}
h4{
    color: rgb(61, 60, 60);
    font-size: 20px;
    letter-spacing: 2px;
}
.newsletter form{
    width: 400px;
    max-width: 100%;
    position: relative;
}
.newsletter form input:first-child {
  width: 100%;
  display: inline-block;
  padding: 14px 130px 14px 15px;
  border: 2px solid #035397;
  border-radius: 30px;
}
.newsletter form input:last-child {
    position: absolute;
    display: inline-block;
    border: none;
    border-radius: 30px;
    padding: 10px 30px;
    background-color: #035397;
    color: white;
    top: 6px;
    right: 6px;
}

.share{
    position: absolute;
    top: 140%;
    font-size: 20px;
    letter-spacing: 70px;
}


.fa {
    padding: 10px;
    font-size: 30px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    border: 2px solid #035397;
    border-radius: 25px;
  }
  .fa:hover {
    transform: scale(1.1);
  }
  .fa-facebook {
    background: white;
    color: #035397;
  }
  .fa-twitter {
    background: white;
    color: #035397;
  }
  .fa-pinterest {
    background: white;
    color: #035397;
  }
  .fa-youtube {
    background: white;
    color: #035397;
  }